.Login h1, .Signup h1 {
  font-family: 'Ink Free', 'Segoe Print';
  font-size: 300%;
}

.Form, .form-input {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
}

.Form input, .Form button {
  border-radius: 5px;
  /* border: none; */
  border: 1px solid #222;
  background-color: #fff;
  color: #222;
}

.Form input {
  padding: 10px;
}

.Form button {
  margin: 20px auto;
  text-align: center;
  padding: 16px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}

.Form button:hover {
  background-color: lightcoral;
  color: white;
}

.AddWallet .Form, .AddList .Form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AddWallet input, .AddList input {
  width: 84%;
}

.AddWallet .Form button, .AddList .Form button {
  width: 20%;
  /* height: 100%; */
  /* margin-left: 10px; */
}

.AddItem fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #222;
}

.AddItem fieldset div {
  align-items: center;
}